.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    margin-bottom: 0px;
}

.modal-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
    align-content: space-between;
    height: 20vh;
}

.modal-button {

};
