.recommended-box {
    background-color: tan;
    height: 200px;
    width: 200px;
    border-radius: 5px;
    opacity: 1;
    overflow: hidden;
    margin: 6px;
}

.button :hover {
    background-color: black;
    cursor: pointer;
}