.App {
  /* position: relative; */
  /* min-height: 100vh; */
  text-align: center;
  width: 80%;
  margin: auto;
}

/*SearchPage css*/
.single-book {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  height: 200px;
  text-align: left;
}

.heading-container {
  display: flex;
  margin-bottom: 5px;
}

/*for the header row*/
.single-book-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border: 1px solid black;
  padding: 10px;
  height: 2 0px;
  text-align: left;
}

.sticky {
  position: sticky;
}

.heading-container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid black;
  width: 30%;
  border: 1px black solid;
}


.pinned {
  color: limegreen;
  display: flex;
  justify-self: flex-start;
}

.not-pinned {
  color: red;
  display: flex;
  justify-self: flex-start;
}

.heading-container-header p {
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Aligning_Items_in_a_Flex_Container*/
.button-container {
  margin-left: auto;
  border: 1px black solid;
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.content-container {
  display: flex;
  align-items: flex-start;
  max-height: 25vh;
  overflow-y: hidden;
  flex-direction: row;
}

.book-link {
  font-weight: bold;
}

.register {
  background-color: royalblue;
  border: 1px solid black;
  border-radius: 5px;
  padding: 15px;
  text-align: left;
  color: aliceblue;
  width: 50%;
  margin: auto;
}

.register input {
  margin-bottom: 5px;
  border-radius: 7px;
  width: 95%;
  line-height: 1.95;
  padding-left: 15px;
}

.register button {
  width: 100%;
  border-radius: 7px;
  line-height: 2;
}

/*register form*/
.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.hide {
  display: none;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.line {
  display: inline-block;
}