.navlink {
    margin-right: 10px;
    margin-bottom: 10px !important;
    font-weight: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}

.navlinks {
    margin-top: 100px;    
}

.count2 {
    color: white;
    width: 1%;
    float: right;
    margin-right: 25px;
}

.count {
    color: white;
    width: 1%;
    float: right;
    margin-right: 25px;
}

@media (max-width: 593px) {
   
    .navlink {
        margin-left: -20px;
        margin-bottom: 10px;
        font-weight: 700;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .count {
        color: white;
        margin-right: 25px;
    }
}

